.forgot-password {
    margin-top: 20px;
    text-align: center;
    background-color: #ecf5ff;
    padding: 12px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.forgot-password a {
    color: #2980b9;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    color: #1c5d99;
    text-decoration: underline;
}
